body{
    margin: 0 0;
    padding: 0 0;
    font-family: "Microsoft YaHei";
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}

/* 1111111111111111111111111111111111111111111111111111111*/
#headerone{
    background-color: rgb(233, 233, 233);
    padding: 7px 0;
    font-size: 12px;
}

.inner{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
#headerone-left{
    float: left;

}
#headerone-right{
    float: right;
}
/*2-1111111111111111111111111111111111111111111111111111111*/
#headertwo{
    background-color: white;

}
#headertwo .inner{
    padding: 24px 0;
}
#headertwo-left{
    float: left;
    margin: 0 0;
    position: relative;
    width: 300px;

}
#headertwo-left>h1{
    margin: 0 0;
    padding: 0 15px;
    position: absolute;
    top: 7px;
    left: 65px;
    color: rgb(67, 133, 232);
    border-bottom: solid 1px black;
    letter-spacing: 4px;
}
#headertwo-left>p{
    margin: 0 0;
    position: absolute;
    top: 54px;
    left: 65px;
    font-size: 10px;
    text-transform:uppercase;
    letter-spacing: -0.7px;
}
#intro{
    width: 350px;
    position: absolute;
    top: 0;
    left: 220px;
    line-height: 12px;
    border-left: solid 1px rgb(233, 233, 233);;
    padding-left: 10px;
    font-size: 15px;
}
/*2-22222222222222222222222222222222222222222222222222222*/
#headertwo-right{
    float: right;
}
#headertwo-right p{
    display: inline-block;
    color: rgb(255, 5, 5);
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 18px;
}

/*3333333333333333333333333333333333333333333333333333333333*/
nav li{
    list-style-type: none;
    float: left;
    padding: 5px 39px;
    font-size: 21px;
}
nav{
    background-color: rgb(244, 152, 0)
}
ul{
    margin: 0 0;
    padding: 0 0;
}
/*44444444444444444444444444444444444444444444444444444444444*/
#scroll{
    height: 437px;
    position: relative;
    background-color: rgb(238, 226, 175);
}
img{
    vertical-align: top;
}
#container{
    height: 437px;
    overflow: hidden;
    position: relative;

}
#container ul{
    width: 500%;
    position: absolute;
    left: 0;
    top: 0;
}
#container ul li{
    float: left;
}
#buttons{
    position: absolute;
    z-index: 2;
    height: 10px;
    width: 100px;
    top: 400px;
    left: 550px;
}
#buttons span{
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 20px;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 50%;
}
.arrow{
    height: 200px;
    width: 100px;
    overflow: hidden;
    background-image: url(../images/prev-next.png);
    position: absolute;
    cursor: pointer;
}
#prev{
    top: 100px;
    left: 50px;
    background-position: 0 0;
}
#next{
    top: 100px;
    right: 50px;
    background-position: -100px 0px;
}
.on{
    background-color: pink;
}
/*5555555555555555555555555555555555555555555555555555555*/
#item{
    background: radial-gradient(circle,rgb(101, 112, 122),rgb(20, 36, 52));
    background-color: rgb(20, 36, 52);
}
#item .inner{
    height: 680px;
    text-align: center;
}
 .title{
    position: relative;
} 
.title h1{
    font-size: 48px;
    letter-spacing: 2px;
    border-right: solid 10px rgb(244, 152, 0);
    display: inline-block;
    padding-right: 12px;
    color: rgb(244, 152, 0);
}
.title p{
    display: inline-block;
}
#item .title p{
    color: white;
}
h1 + p{
    font-size: 30px;
    padding: 5px 0 0 5px;
    position: absolute;
    top: -7px;
}
.title p + p{
    position: relative;
    left: 7px;
    top: 10px;
}
#bulb{
    position: relative;
}
#circle{
    width: 300px;
    height: 300px;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    left: 400px;   
}
#circle>div{
    width: 129px;
    height: 129px;
    position: absolute;
    top: 95px;
    left: 90px;
}
.littleBox{
    display: inline-block;
    background-color: white;
    height: 37px;
    width: 37px;
    float: left;
    margin: 3px;
    border-radius: 6px;
    background-image: url(../images/littlebox.png);
    background-repeat: no-repeat;
}
#store{
    background-position: -64px -12px;
    position: relative;
    top: -8px;
    left: 5px;
    transform: rotateZ(-25deg);
}
#set{
    background-position: -114px -10px;
    position: relative;
    top: -12px;
    left: 14px;
}
#train{
    background-position: -10px -65px;
}
#push{
    background-position: -58px -68px;
}
#push + div{
    transform: rotateZ(30deg);
    position: relative;
    top: -5px;
    left: 3px;
}
#public{
    background-position: -56px -113px;
}
#design{
    background-position: -105px -113px;
}
#circle h3{
    color: rgb(244, 152, 0);
    position: absolute;
    top: 226px;
    left: 118px;
}
#bulb-bottom div:first-child{
    width: 105px;
    height: 70px;
    background-color: rgb(244, 152, 0);
    position: relative;
    top: 105px;
    left: 500px;
    border-radius: 8px;
}
#bulb-bottom div:first-child + div{
    width: 77px;
    height: 24px;
    background-color: rgb(244, 152, 0);
    border-radius: 5px;
    position: relative;
    top: 110px;
    left: 514px;
}
#halfcircle{
    width: 30px;
    height: 15px;
    background-color: rgb(46, 182, 109);
    position: relative;
    top: 115px;
    left: 538px;
    border-radius: 0 0 15px 15px;
}

/*666666666666666666666666666666666666666*/
#build{
    height: 660px;
}
#build .inner{
    text-align: center;
}
#build h1{
    color: black;
}
.boxx{
    height: 180px;
    text-align: center;
}
.function{
    display: inline-block;
    background-color: pink;
    height: 150px;
    width: 200px;
    margin: 10px;
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: 350%;
    border-radius: 5px;
}
#build .inner >p{
    font-size: 20px;
}
#function_1{
    background-color: rgb(82,178,227);
    background-position: 70px 25px;
}
#function_2{
    background-color:rgb(171,100,145);
    background-position: -140px 25px;
}
#function_3{
    background-color:rgb(130,207,54);
    background-position: -350px 25px;
}
#function_4{
    background-color:rgb(43,192,167);
    background-position: -565px 25px;
}
#function_5{
    background-color:rgb(73,203,126);
    background-position: 70px -220px;
}
#function_6{
    background-color:rgb(134,138,232);
    background-position: -140px -220px;
}
#function_7{
    background-color:rgb(249,122,116);
    background-position: -350px -220px;
}
#function_8{
    background-color:rgb(47,154,229);
    background-position: -565px -220px;
}
.function p{
    color: white;
    padding-top: 100px;
}