body{
    margin: 0 0;
    padding: 0 0;
    /* font-family: "Microsoft YaHei"; */
}
a{
    color: black;
    text-decoration: none;
}
.inner{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/*后后面各个板块的标题*/
.title{
    position: relative;
} 
.title h1{
    font-size: 48px;
    letter-spacing: 1px;
    border-right: solid 10px rgb(244, 152, 0);
    display: inline-block;
    padding-right: 10px;
    color: rgb(244, 152, 0);
}
.title p{
    display: inline-block;
}
h1 + p{
    font-size: 30px;
    padding: 5px 0 0 5px;
    position: absolute;
    top: -7px;
}
.title p + p{
    position: relative;
    left: 7px;
    top: 10px;
    font-size: 18px;
}
/* headerone*/
#headerone{
    background-color: rgb(233, 233, 233);
    padding: 12px 0;
    font-size: 12px;
}

#headerone-left{
    float: left;
    padding-left: 20px;
}
#headerone-right{
    float: right;
    padding-right: 20px;
}
#headerone-right span{
    cursor: pointer;
}
/*登登登登登登登登登登登登登登登登录录录录录录录录录录录录录录录*/
#mask{
    background-color:#000;
    opacity: 0.5;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}
#login{
    position: fixed;
    margin: auto auto;
    width: 1078px;
    height: 518px;
    z-index: 9999;
    background-color: #fff;
    border: solid 2px rgb(46,182,109);
    border-radius: 15px;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
    background-color: rgb(21,37,53);
}
#hi{
    background-color: rgb(244,152,0);
    height: 70px;
    width: 100%;
    display: inline-block;
    border-radius: 10px 10px 0 0;
}
#hi>h3{
    color: white;
    font-size: 30px;
    margin-top: 12px;
}
.close>a{
    position: absolute;
    top: -7px;
    right:10px;
    font-size: 48px;
    color: white;
}
input{
    height: 69px;
    width: 661px;
    margin:50px 0;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 30px;
    color: black;
}
#username{
    margin: 67px 0 0 0;
}
#password{
    margin: 50px 0 0 0;
}
#btn{
    height: 45px;
    width: 170px;
    margin-top: 90px;
    background-color: rgb(244,152,0);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
/*headertwo-left*/
#headertwo{
    background-color: white;
    height: 120px;
}
#headertwo .inner{
    padding-top: 25px;
}
#headertwo-left{
    padding-left: 20px;
    position: relative;
    width: 300px;
    display: inline-block;
}
#headertwo-left>h1{
    margin: 0 0;
    padding: 0 16px;
    position: absolute;
    top: 12px;
    left: 81px;
    color: rgb(67, 133, 232);
    border-bottom: solid 1px black;
    letter-spacing: 4px;
}
#headertwo-left>p{
    margin: 0 0;
    position: absolute;
    top: 58px;
    left: 84px;
    padding: 0 0;
    font-size: 10px;
    text-transform:uppercase;
    letter-spacing: -0.7px;
}
#intro{
    width: 350px;
    position: absolute;
    top: 0;
    left: 220px;
    line-height: 17px;
    border-left: solid 2px rgb(233, 233, 233);;
    padding-left: 9px;
    margin-left: 10px;
    font-size: 14px;
}
/*headertwo-right*/
#headertwo-right{
    float: right;
}
#headertwo-right p{
    display: inline-block;
    color: rgb(255, 5, 5);
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 20px;
    font-size: 24px;
}

/*nav导导导导导导导导导导导导导导导导航*/
nav li{
    list-style-type: none;
    float: left;
    padding: 5px 39px;
    font-size: 21px;
}
nav{
    background-color: rgb(244, 152, 0)
}
ul{
    margin: 0 0;
    padding: 0 0;
}
/*scroll轮轮轮轮轮轮轮轮轮轮轮轮轮轮播图*/
#scroll{
    height: 437px;
    position: relative;
    background-color: rgb(238, 226, 175);
}
img{
    vertical-align: top;
}
#container{
    height: 437px;
    overflow: hidden;
    position: relative;

}
#container ul{
    width: 500%;
    position: absolute;
    left: 0;
    top: 0;
}
#container ul li{
    float: left;
    list-style: none;
}
#buttons{
    position: absolute;
    z-index: 2;
    height: 10px;
    width: 100px;
    top: 400px;
    left: 550px;
}
#buttons span{
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 20px;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 50%;
}
.arrow{
    height: 200px;
    width: 100px;
    overflow: hidden;
    background-image: url(../images/prev-next.png);
    position: absolute;
    cursor: pointer;
}
#prev{
    top: 100px;
    left: 50px;
    background-position: 0 0;
}
#next{
    top: 100px;
    right: 50px;
    background-position: -100px 0px;
}
.on{
    background-color: pink;
}
/*服服服服服服服服服服服服服服务项目*/
#item{
    background: radial-gradient(circle,rgb(101, 112, 122),rgb(20, 36, 52));
    background-color: rgb(20, 36, 52);
}
#item .inner{
    height: 680px;
    text-align: center;
}
#item .title p{
    color: white;
}
#bulb{
    position: relative;
}
#circle{
    width: 300px;
    height: 300px;
    position: relative; 
    top: 120px;
    left: 400px;   
}
#circle>div{
    width: 129px;
    height: 129px;
    position: absolute;
    top: 95px;
    left: 90px;
}
.littleBox{
    background-color: white;
    height: 37px;
    width: 37px;
    float: left;
    margin: 3px;
    border-radius: 6px;
    background-image: url(../images/littlebox.png);
    background-repeat: no-repeat;
}
#store{
    background-position: -64px -12px;
    position: relative;
    top: -8px;
    left: 5px;
    transform: rotateZ(-25deg);
}
#set{
    background-position: -114px -10px;
    position: relative;
    top: -12px;
    left: 14px;
}
#train{
    background-position: -10px -65px;
}
#push{
    background-position: -58px -68px;
}
#push + div{
    transform: rotateZ(30deg);
    position: relative;
    top: -5px;
    left: 3px;
}
#public{
    background-position: -56px -113px;
}
#design{
    background-position: -105px -113px;
}
#circle h3{
    color: rgb(244, 152, 0);
    position: absolute;
    top: 226px;
    left: 118px;
}
#bulb-bottom div:first-child{
    width: 105px;
    height: 70px;
    background-color: rgb(244, 152, 0);
    position: relative;
    top: 105px;
    left: 500px;
    border-radius: 8px;
}
#bulb-bottom div:first-child + div{
    width: 77px;
    height: 24px;
    background-color: rgb(244, 152, 0);
    border-radius: 5px;
    position: relative;
    top: 110px;
    left: 514px;
}
#halfcircle{
    width: 30px;
    height: 15px;
    background-color: rgb(46, 182, 109);
    position: relative;
    top: 115px;
    left: 538px;
    border-radius: 0 0 15px 15px;
}

/*平平平平平平平平平平平平平平平平台搭建*/
#build{
    height: 660px;
}
#build .inner{
    text-align: center;
}
#build h1{
    color: black;
}
.boxx{
    height: 180px;
    text-align: center;
}
.function{
    display: inline-block;
    height: 150px;
    width: 200px;
    margin: 10px;
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: 350%;
    border-radius: 5px;
}
#build .inner >p{
    font-size: 20px;
}
#function_1{
    background-color: rgb(82,178,227);
    background-position: 70px 25px;
}
#function_2{
    background-color:rgb(171,100,145);
    background-position: -140px 25px;
}
#function_3{
    background-color:rgb(130,207,54);
    background-position: -350px 25px;
}
#function_4{
    background-color:rgb(43,192,167);
    background-position: -565px 25px;
}
#function_5{
    background-color:rgb(73,203,126);
    background-position: 70px -220px;
}
#function_6{
    background-color:rgb(134,138,232);
    background-position: -140px -220px;
}
#function_7{
    background-color:rgb(249,122,116);
    background-position: -350px -220px;
}
#function_8{
    background-color:rgb(47,154,229);
    background-position: -565px -220px;
}
.function p{
    color: white;
    padding-top: 100px;
}
/*全全全全全全全全全全全全全全全全网营销*/
#market{
    background-color: rgb(20, 36, 52);
}
#market .inner{
    text-align: center;
    height: 350px;
}
#market .inner p{
    color: white;
}
.circle-border{
    height: 110px;
    width: 110px;
    border: solid 2px rgb(0, 246, 247);
    border-radius: 50%;
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
    background-size: 420%;
}
#content{
    margin-top: 34px;
}
#content div{
    display: inline-block;
}
.line{
    width: 105px;
    height: 2px;
    margin: 0 -4px;
    background-color: rgb(0,246,247);
    position: relative;
    top: -90px;
}
.circle-border + p{
    font-size: 14px;
}
#circle-border_1{
    background-position: 26px 29px;
}
#circle-border_2{
    background-position: -176px 29px;
}
#circle-border_3{
    background-position: -382px 29px;
}
/*网网网网网网网网网网网网网网站优化*/
#optimize{
    background-color: rgb(209,56,100);
}
#optimize .inner{
    height: 350px;
}
#optimize h1{
    color: white;
    padding-left: 130px;
}
#optimize h1 + div{
    height: 230px;
    margin-left: 130px;
}
#optimize h1 + div>div{
    height: 230px;
    width: 400px;
    border-radius: 5px;
    float: left;
    background-size: 100%;
}
#adv1{
    background-image: url(../images/adv1.jpg);
}
#adv2{
    background-image: url(../images/adv2.jpg);
    margin-left: 15px;
}
.adv div{
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 195px;
    display: none
}
.adv:hover{
    cursor: pointer;
}
.adv:hover >div{
    display: block;
    cursor: pointer;
}
.adv p{
    color: white;
    font-size: 14px;
    padding: 0 0 0 15px;
    margin: auto 0;
    position: absolute;
}
p>span{
    font-size: 22px;
}
/*品品品品品品品品品品品品品品牌推广*/
#promotion{
    height: 556px;
    position: relative;
}
#promotion h1{
    padding-left: 130px;
    margin: 37px 0;
}
#showWhite{
    height: 292px;
}
#showGrey{
    height: 264px;
    background-color: rgb(220,220,220);
}
#promotion .inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 556px;
}
#push{  
    overflow: hidden;/*让父元素包含浮动的子元素*/
    color: white;
}
.push{
    height: 340px;
    width: 266px;
    float: left;
    margin: 10px;
    border: solid 1px rgb(8,144,216);
    border-radius: 8px;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
#push_1{
    margin-left: 125px;
    background-color: rgb(244,152,0);
}
#push_2{
    background-color: rgb(42,196,113);
}
#push_3{
    background-color: rgb(244, 152, 0);
}
.push div{
    height: 106px;
    background-repeat: no-repeat;
}
#push_1 > div{
    background-image: url(../images/cctv.jpg);
    background-size: 120%;
    background-position: -30px -23px;
}
#push_2 > div{
    background-image: url(../images/tencent.jpg);
    background-size: 100%;
    background-position: 0 -93px;
}
#push_3 > div{
    background-image: url(../images/pyq.jpg);
    background-size: 110%;
    background-position: 0 -15px;
}
.push h2{
    font-size: 26px;
    margin: 0 50px;
    padding: 25px 0;
}
.push h2 + p{
    padding: 0 0px;
    margin: 0 45px;
    border-top: solid 1px white;
    padding-top: 20px;
    text-align: left;
}
#push_2 p{
    margin: 0 27px;
}
#push_3 p{
    margin: 0 53px;
}
/*特特特特特特特特特特特特特特特特色服务*/
#feature .inner{
    text-align: center;
    height: 340px;
}
#feature h1{
    color: black;
}
div.showBlack{
    height: 187px;
    width: 170px;
    overflow: hidden;
    margin: 15px 10px;
    display: inline-block;
    border-radius: 4px;
    background-image: url(../images/feature.png);
    background-repeat: no-repeat;
    background-size: 250%;
}
#feature h3{
    margin-top: 110px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}
#feature h3 + p{
    margin-top: 10px;
    font-size: 12px;
    padding: 0 14px;
    color: white;
}
#showPurple{
    background-color: rgb(134,138,232);
    background-position: 55px 25px;
}
#showPink{
    background-color: rgb(249,122,116);
    background-position: -128px 25px;
}
#showGrape{
    background-color: rgb(171,100,145);
    background-position: -312px 25px;
}
div.showBlack:hover{
    background-image: url(../images/featureHover.png);
}
#corporateImage .showBlack:hover h3{
    color: black;
}
#corporateImage .showBlack:hover p{
    color: black;
}
div#kingTrain{
    width: 320px;
    height: 187px;
    margin: 15px 10px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
}
#kingTrain p{
    margin: 0;
}
#kingTrain ol{
    font-size: 12px;
    line-height: 2em;
    padding-left: 15px;;
}
#apply{
    height: 35px;
    width: 140px;
    color: white;
    background-color: rgb(244,152,0);
    border-radius: 5px;
    text-align: center;
}
#apply p{
    padding-top: 5px;
}
#apply:hover {
    background-color: rgb(43,181,110);
    cursor: pointer;
}
/*服服服服服服服服服服服服服服务优势*/
#merit{
    text-align: center;
}
#meritTitle{
    height: 170px;
    background-color: rgb(19,35,51);
}
#meritTitle h1,
#meritTitle h1+p{
    margin-top: 50px;
}
#meritTitle p{
    color: white;
}